:root {
    --main-color: #34547A;
    --secondary-color: #EEEFF1;
    --paragraph-color: #727272;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(--secondary-color);
    padding-inline: 20px;
    height: 700px;
}

.container__header {
    max-width: 1110px;
    margin-inline: auto;
}

.header__nav{
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 42px;
    margin: 0;
    padding-block: 80px ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
}

.navbar__item a {
    text-decoration: none;
    color: black;
}

.navbar__item a:hover {
    color: var(--main-color);
}

.description__header {
    padding-top: 82px;
    padding-bottom: 45px;
    margin: 0;
    font-size: 48px;
    font-weight: 500;
}

.description__about, .about__about, .process__about {
    font-size: 16px;
    color: var(--paragraph-color);
    letter-spacing: 0.02em;
    line-height: 26px;
    width: 540px;
}

.description__button {
    background-color: var(--main-color);
    height: 65px;
    width: 225px;
    margin-top: 58px;
    color: #ffffff;
    border: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 16px;
    padding-block: 19px 20px;
}

.container__about {
    height: 359px;
    background-color: #F9F9F9;
    padding-inline: 20px;
}

.about {
    text-align: center;
    max-width: 1110px;
    margin-inline: auto;
}

.about__header {
    padding-block: 112px 40px;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.about__about {
    margin-inline: auto;
}

.container__projects {
    margin-inline: auto;
    background-color: var(--main-color);
    color: #ffffff;
    height: 250px;
    display: flex;
    justify-content: center;
    padding-inline: 20px;
}

.projects {
    max-width: 1110px;
    display: flex;
    gap: 49px;
    justify-content: center;
}

.top_row__projects, .bottom_row__projects {
    display: flex;
    gap: 49px;
}

.projects__item {
    width: 141px;
    height: 50px;
    margin-block: auto;
    background: left no-repeat url("../assets/project.svg");
    padding-left: 70px;
    line-height: 24px;
}

.large_font__projects {
    font-size: 21px;
}


.container__process {
    background-color: #EEEFF1;
    padding-inline: 20px;
    height: 1004px;
}

.process {
    margin-inline: auto;
    max-width: 1110px;
}

.process__header, .process__about {
    text-align: center;
    margin-inline: auto;
}

.process__header {
    padding-block: 100px 42px;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.process__about {
    padding-bottom: 50px;
}

.video {
    margin-inline: auto;
}

footer {
    background-color: var(--main-color);
    color: #ffffff;
    padding-inline: 20px;
}

.container__footer {
    max-width: 1110px;
    height: 151px;
    margin-inline: auto;
}

.footer__name {
    font-size: 21px;
    font-weight: 500;
    padding-block: 50px 13px;
}

.footer__copyright {
    font-size: 13px;

}

@media screen and (max-width: 1160px) {
    header {
        height: 500px;
    }

    .container__header {
        width: 708px;
    }

    .header__nav {
        justify-content: center;
    }

    .navbar__list {
        gap: 30px;
        font-size: 18px;
        justify-content: center;
        padding-block: 40px;
    }

    .description {
        text-align: center;
    }

    .description__header, .about__header, .process__header {
        font-size: 30px;
    }

    .description__header {
        padding-top: 41px;
        padding-bottom: 22px;
        margin: 0;
        font-weight: 500;
    }

    .description__about, .about__about, .process__about {
        font-size: 14px;
        margin-inline: auto;
    }
    .description__button {
        height: 55px;
        width: 180px;
    }


    .container__about {
        height: 260px;
    }

    .about {
        width: 708px;
    }

    .about__header {
        padding-top: 41px;
    }


    .container__projects {
        height: 260px;
    }

    .projects {
        flex-direction: column;
        gap: 16px;
        width: 708px;
    }

    .top_row__projects, .bottom_row__projects {
        justify-content: center;
    }

    .projects__item {
        height: 72px;
        width: 175px;
    }

    .large_font__projects {
        font-size: 16px;
    }


    .container__process {
        height: 700px;
    }

    .process {
        width: 708px;
    }

    .process__header {
        padding-top: 41px;
    }

    .video {
        width: 708px;
        height: 383px;
    }


    .container__footer {
        text-align: center;
        height: 120px;
        width: 708px;
    }

    .footer__name {
        padding-top: 40px;
    }

    .footer__copyright {
        font-size: 16px
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-inline: 10px;
        height: 475px;
        min-width: 375px;
    }
    .container__header {
        width: 335px;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .navbar__list {
        padding-block: 20px 15px;
        font-size: 16px;
    }
    .description__header {
        font-size: 24px;
    }
    .description__about, .about__about, .process__about {
        width: 335px;
        font-size: 12px;
    }
    .description__button {
        margin-block: 20px;
        padding-block: 5px;
        width: 150px;
        height: 35px;
        font-size: 14px;
    }


    main {
        min-width: 375px;
    }
    .container__about, .container__projects, .container__process {
        padding-inline: 10px;
    }
    .about {
        width: 335px;
        height: 400px;
    }
    .about__header {
        padding-block: 32px 22px;
        font-size: 24px;
    }


    .container__projects {
        height: 360px;
    }

    .projects {
        flex-direction: row;
        width: 335px;
    }

    .top_row__projects, .bottom_row__projects {
        flex-direction: column;
        gap: 30px;
    }

    .projects__item {
        height: 70px;
        width: 140px;
        font-size: 12px;
        margin-block: 0;
    }

    .large_font__projects {
        font-size: 12px;
    }

    .container__process {
        height: 450px;
    }
    .process {
        width: 335px;
    }

    .process__header {
        padding-block: 32px 22px;
        font-size: 24px;
    }

    .video {
        width: 335px;
        height: 181px;
    }


    footer {
        padding-inline: 10px;
        min-width: 375px;
    }
    .container__footer {
        width: 335px;
    }
    .footer__name {
        font-size: 16px;
    }

    .footer__copyright {
        font-size: 14px;
    }
}